{% set global_settings = salt['grains.filter_by']({
    'Debian': {
    },
    'RedHat': {
    },
}, merge=salt['pillar.get']('ceph:global')) %}

{% set mon_settings = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['ceph-mon', 'ceph-common'],
        'services': [],
    },
    'RedHat': {
        'pkgs': ['ceph', 'ceph-common'],
        'services': [],
    },
}, merge=salt['pillar.get']('ceph:mon')) %}

{% set osd_settings = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['ceph-osd', 'ceph-common'],
        'services': [],
    },
    'RedHat': {
        'pkgs': ['ceph', 'ceph-common'],
        'services': [],
    },
}, merge=salt['pillar.get']('ceph:osd')) %}

{% set mds_settings = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [],
        'services': [],
    },
    'RedHat': {
        'pkgs': [],
        'services': [],
    },
}, merge=salt['pillar.get']('ceph:mds')) %}

{% set rgw_settings = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['radosgw'],
        'services': [],
    },
    'RedHat': {
        'pkgs': ['ceph-radosgw', 'ceph'],
        'services': [],
    },
}, merge=salt['pillar.get']('ceph:rgw')) %}

{% set client_settings = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['ceph-common'],
        'services': [],
    },
    'RedHat': {
        'pkgs': ['ceph-common'],
        'services': [],
    },
}, merge=salt['pillar.get']('ceph:client')) %}


{% set cluster = salt['pillar.get']('ceph:cluster_name') -%}
{% set conf_dir = '/etc/ceph/' -%}
{% set conf_file = '/etc/ceph/' + cluster + '.conf' -%}
{% set admin_keyring = '/etc/ceph/' + cluster + '.client.admin.keyring' -%}
{% set radosgw_keyring = '/etc/ceph/' + cluster + '.client.radosgw.keyring' -%}
{% set bootstrap_osd_keyring = '/var/lib/ceph/bootstrap-osd/' + cluster + '.keyring' -%}
{% set host = salt['config.get']('host') -%}
{% set minion_id = salt['config.get']('id') -%}
{% set minion_oscodename = salt['config.get']('oscodename') -%}
{% set mon_interface = salt['pillar.get']('ceph:mon:interface') -%}
{% set fsid = salt['pillar.get']('ceph:global:fsid') -%}


{#
{%- do xceph_settings.update({ 'cluster'                 : cluster,
                    	      'conf_file'    	       	: conf_file,
                    	      'conf_dir'    	       	: conf_dir,
			      'admin_keyring'	       	: admin_keyring,
			      'radosgw_keyring'	       	: radosgw_keyring,
		     	      'bootstrap_osd_keyring'   : bootstrap_osd_keyring,
		     	      'host'		       	: host,
		     	      'minion_id'	       	: minion_id,
		     	      'minion_oscodename'      	: minion_oscodename,
		     	      'mon_interface'	       	: mon_interface,
		     	      'fsid'		       	: fsid,
                   }) %}
#}